<!-- Footer -->
<footer class="footer mt-5">
  <div class="container-fluid text-center">
    <span class="text-light">
      Developped with &#10084;&#65039;
      by <a href="https://github.com/davidBentoPereira" target="_blank">Bento</a> &#9996;&#65039;
      & <a href="https://github.com/Popikadir" target="_blank">Julien</a> &#9996;&#65039;
      for <a href="//www.thehackingproject.org/fr" target="_blank">THP</a>
    </span>
  </div>
</footer>
