<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<h2 class="h1 text-center my-3">NOTRE EQUIPE</h2>
<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" >
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="<%= image_path "bento_cowboy.png" %>" alt="card image"></p>
                  <h4 class="card-title">Bento - Lead Dev</h4>
                  <p class="card-text">Je code depuis que je suis dans le ventre de ma mère. En effet, celle-ci avait réussi à <em>Insert</em> une &#128433;&#65039; et un 	&#9000;&#65039; dans sa &#128049; On peut dire que j'ai de la bouteille !</p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Bento - Lead Dev</h4>
                  <p class="card-text">Je code depuis que je suis dans le ventre de ma mère. En effet, celle-ci avait réussi à <em>Insert</em> une &#128433;&#65039; et un 	&#9000;&#65039; dans sa &#128049; On peut dire que j'ai de la bouteille !</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="<%= image_path "bento_pic.png" %>" alt="card image"></p>
                  <h4 class="card-title">Bento - Stagiaire</h4>
                  <p class="card-text">J'apporte le café et je beurre les tartines du Lead Dev, je porte la casquette d'Admin-Sys, de Dev-Ops, de Product-Owner et je travaille en 3 x 8 trois fois par jour pour tenir les deadline imposés par notre Chief Sadness Officer.</p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Bento - Stagiaire</h4>
                  <p class="card-text">J'apporte le café et je beurre les tartines du Lead Dev, je porte la casquette d'Admin-Sys, de Dev-Ops, de Product-Owner et je travaille en 3 x 8 trois fois par jour pour tenir les deadline imposés par notre Chief Sadness Officer.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://www.thehackingproject.org/assets/statics/team/cd-aee6ccc86b574105d61dc2b39832eef5cbd9b4022e6b042893d41fcb63bb44d8.jpg" alt="card image"></p>
                  <h4 class="card-title">Charles Dacquay - Ultimate Sails Manager</h4>
                  <p class="card-text">Je trouverais un moyen de vous vendre ce dont vous n'avez pas besoin, coûte que coûte, quoi qu'il m'en coûte. Vous en avez besoin mais vous ne le savez pas encore. <br />&#128680; Rejoignez-moi sur Charles - SAV &#128680;</p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Charles Dacquay - Ultimate Sails Manager</h4>
                  <p class="card-text">Je trouverais un moyen de vous vendre ce dont vous n'avez pas besoin, coûte que coûte, quoi qu'il m'en coûte. Vous en avez besoin mais vous ne le savez pas encore. <br />&#128680; Rejoignez-moi sur Charles - SAV &#128680;</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://www.thehackingproject.org/assets/statics/team/fg-e5f5a587c01f1bac9f80eefbf6417db46a088b2c5046c7c84d77f7d97f3ab71a.jpg" alt="card image"></p>
                  <h4 class="card-title">Félix Gaudé - Chief Sadness Officer</h4>
                  <p class="card-text">Si je devais résumer le but de mon existance, ce serait de pourrir la vôtre 	&#10084;&#65039;</p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Félix Gaudé - Chief Sadness Officer</h4>
                  <p class="card-text">Si je devais résumer le but de mon existance, ce serait de pourrir la vôtre 	&#10084;&#65039;</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://www.pierre-et-les-loups.net/base/img-resize.php?i=https%3A%2F%2Fwww.pierre-et-les-loups.net%2Fimg%2Fimages%2F2018-04%2Fimg-1524418591-246.jpg&h=0&w=600" alt="card image"></p>
                  <h4 class="card-title">God - Code Miracle Supplier (CMS)</h4>
                  <p class="card-text">Quand le Lead Dev est en train de roupiller et que le stagiaire à explosé son clavier contre son écran en vidant toutes les larmes de son corps, je le rattrape in extremis juste avant qu'il ne saute par la fenêtre, je le rasseois sur sa chaise et je lui montre comment corriger son bug. </p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">God - Code Miracle Supplier (CMS)</h4>
                  <p class="card-text">Quand le Lead Dev est en train de roupiller et que le stagiaire à explosé son clavier contre son écran en vidant toutes les larmes de son corps, je le rattrape in extremis juste avant qu'il ne saute par la fenêtre, je le rasseois sur sa chaise et je lui montre comment corriger son bug. </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="https://i.pinimg.com/originals/6d/8e/62/6d8e625b79db5010c3da3e6047bf5a2b.jpg" alt="card image"></p>
                  <h4 class="card-title">Satan - Hell Tester</h4>
                  <p class="card-text">J'apporte enfer et damnation sur les devs en leur trouvant des bugs tellement fou qu'ils ne pouvaient même pas les cauchemarder. Puis je m'asseois sur un fauteuil et je me délècte de leur douleur en le voyants hurler et tenter de s'ouvrir les veines à coups de clé USB.</p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Satan - Hell Tester</h4>
                  <p class="card-text">J'apporte enfer et damnation sur les devs en leur trouvant des bugs tellement fou qu'ils ne pouvaient même pas les cauchemarder. Puis je m'asseois sur un fauteuil et je me délècte de leur douleur en le voyants hurler et tenter de s'ouvrir les veines à coups de clé USB.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

    </div>
  </div>
</section>
<!-- Team -->
