form {
    margin: 0px 0px 12px 0px;
}


.form input[type=text] {
    font-size:16px;
    width:80%;
    padding:8px 12px;
    margin:12px;
    border-radius:15px;
    box-shadow: 0;
    border: 1px solid #9C9389;
    border-radius:8px;

}

.form input[type=radio] {
    size:4em;
    color: red;
    margin:12px;
    border: 1px solid #000000;
    border-radius:15px
}

select{
    font-size:16px;
    width:80%;
    padding:12px 12px;
    margin:12px;
    border-radius:15px
    box-shadow: 0;
    border:none;
}

textarea {
    font-size: 16px;
    padding:12px;
    border-radius:15px;
    width: 80%;
    box-shadow:0;
    margin:12px;
    border: 1px solid #9C9389;
}
